<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xyz.mxlei.mvvmx">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name="xyz.mxlei.mvvmx.crash.DefaultErrorActivity"
            android:process=":error_activity" />

        <provider
            android:name="xyz.mxlei.mvvmx.StartUpProvider"
            android:authorities="${applicationId}.mvvmxStartUpProvider"
            android:exported="false"
            android:initOrder="101" />
    </application>

</manifest>
